name: agnpy

channels:
  - conda-forge
  - sherpa

dependencies:
  - python=3.9
  - pip
  - numpy>1.20
  - scipy!=1.10
  - astropy>=5.0, <6.0
  - pyyaml # needed to read astropy ecsv file
  - matplotlib>=3.4
  - sherpa
  - cubepy=1.0.2
  - pre-commit
  - pip:
    - agnpy
    - gammapy
