name: Upload to PyPI

on:
  # trigger the workflow when a release is created
  release: 
    types: [created]
  workflow_dispatch:

jobs:
  pypi-publish:
    name: Upload release to PyPI
    needs:
    - build-dist
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/agnpy
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing

    steps:
    - name: Download all the dists
      uses: actions/download-artifact@v4
      with:
        name: python-package-distributions
        path: dist/
    - name: Publish distribution package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
